.footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;

  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer small {
  margin-top: var(--space-jump);
  margin-bottom: var(--space-xs);
}

@media screen and (max-width: 768px) {
  .footer {
    background: #edede8 url(../public/bg_noise01.png) repeat left top/64px 64px;
  }
}
