:root {
  /* カラー（色） */
  --white: #ffffff;
  --gray-10: #eeeeee;
  --gray-25: #aaaaaa;
  --gray-50: #707070;
  --gray-75: #444444;
  --black: #222222;
  --accent: #0d87e0;
  --main: #7dbfc2;

  /* タイポグラフィ（フォントサイズ） */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16-18px */
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem); /* 72-160 */
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem); /* 32-64px */
  --heading2: calc(var(--body) * 1.5); /* 24-27px */
  --heading3: calc(var(--body) * 1.2); /* 19.2-21.6px */
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem); /* 14-27px */
  --small-heading3: calc(var(--small-heading2) * 0.86); /* 12-23px */
  --post-heading: calc(var(--body) * 2); /* 24-27px */

  /* スペース（余白・間隔） */
  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); /* 20-30px */
  --space-sm: calc(var(--space-xs) * 1.5); /* 30-45px */
  --space-md: calc(var(--space-xs) * 2); /* 40-60px */
  --space-lg: calc(var(--space-xs) * 3); /* 60-90px */
  --space-xl: calc(var(--space-xs) * 4); /* 80-120px */
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem); /* 20-60px */
}

/* 基本設定 */
body {
  /* color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: var(--body); */
}

h1 {
  font-size: var(--heading1);
}

h2 {
  font-size: var(--heading2);
}

h3 {
  font-size: var(--heading3);
}

/* next/image */
span > img {
  transition: 0.2s;
}

/* リセット */
body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
html {
  /* background: #F6EEBE url(../public/bg_noise01.png) repeat left top/64px 64px;
  background-color: #7dbfc2;
  background-color: #b0c0c6;
  background-color: #e2d980;
  background-color: #d9dfba;
  background-color: #edede8;

  background-color: #85D4E3;
  background-color: #F4B5BD;
  background-color: #FAD77B;
  background-color: #F3DF6C;
  background-color: #9C964A;

  background-color: #D5E9ED;
  background-color: #FCDFE3;
  background-color: #F6EEBE;
  background-color: #C1E0D0;


  background: #F6EEBE url(../public/bg_noise01.png) repeat left top/64px 64px; */
}
body {
  /* background-color: var(--main);
  background-color: #7dbfc2;
  background-color: #d9dfba;
  background-color: white;
  width: 100vh;
  width: max(768px, 100vh);
  width: 768px;
  width: 1024px;
  margin: 0 auto;
  color: #4d534b;
  min-height: 100vh; */
}

main {
  min-height: 70vh;
  /* padding-bottom: 3rem; */
}
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}
