.header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--space-xs);
}

@media screen and (max-width: 425px) {
  .header a img {
    width: 60%;
    height: 100%;
    aspect-ratio: 300/150;
  }
}
