.nav {
  width: 100%;
  padding-inline: 22%;
}

.list {
  margin-top: var(--space-xs);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--space-jump); */
  justify-content: space-around;
  /* text-transform: uppercase; */
}
.list li {
  width: 120px;
  text-align: center;
  margin-top: 1em;
}
