.nav {
  width: 100%;
  padding-inline: 22%;
}

.list {
  margin-top: var(--space-md);
  width: 100%;
  display: flex;
  /* gap: var(--space-jump); */
  justify-content: space-around;
  /* text-transform: uppercase; */
}
