/* .flexContainer {
  composes: spaceBetween from "styles/utils.module.css";
  margin: var(--space-lg) var(--space-xl);
  gap: 1em;
} */

.center {
  margin: var(--space-sm) var(--space-xl);
  display: flex;
  justify-content: center;
}

.center span {
  margin: 0 0.5em;
}

.next {
  margin-left: auto;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
