.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: var(--space-jump);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
  margin-left: var(--space-jump);
  margin-right: var(--space-jump);
  margin-inline: 22%;
}
@media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    margin-inline: var(--space-xl);
  }
}

.gridContainer figure:nth-of-type(1) {
  grid-row: 1/-1;
  grid-column: 1/1;
  width: 5rem;
  height: 5rem;
  width: 100%;
  height: 100%;
  background-color: #edede8;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #7dbfc2 25%, transparent 25%),
    linear-gradient(225deg, #7dbfc2 25%, transparent 25%),
    linear-gradient(45deg, #7dbfc2 25%, transparent 25%),
    linear-gradient(315deg, #7dbfc2 25%, #edede8 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.gridContainer figure:nth-of-type(2) {
  width: 10vw;
  height: 19vw;
  background-color: #ffffff;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #7dbfc2, #ffffff),
    repeating-radial-gradient(
      circle at center center,
      #7dbfc2,
      #7dbfc2,
      4px,
      transparent 8px,
      transparent 4px
    );
  background-blend-mode: multiply;
}

.post {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60% 40%;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 3rem 2rem;
  gap: 1rem;
}

.thumb {
  grid-row: 1/-1;
  grid-column: 1/1;
  width: 5rem;
  height: 5rem;
  width: 100%;
  height: 100%;
}

.post h2 {
  margin-top: 0.3em;
  font-size: var(--small-heading3);
  font-size: var(--heading3);

  font-weight: bold;
}

.sub {
  display: flex;
  gap: 0.75rem;
  /* margin-top: 0.5rem; */
  margin-bottom: 0.3em;
}

.date {
  font-size: var(--body);
}
